body {
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: row;
}
#mapCard {
  width: 15rem;
  border: none;
  z-index: 1;
}

.map {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.map button {
  border-radius: 50px;
}

.labels {
  display: none;
}
