body {
  margin: 0;
  padding: 0;
}
#mapCard {
  display: flex;
  justify-content: flex-start;
  width: 15rem;
  z-index: 1;
}

.map {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.map button {
  border-radius: 50px;
}

.labels {
  display: none;
}
