body {
  margin: 0;
  padding: 0;
}
#mapCard {
  width: 15rem;
  border: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, .1)
}

.map {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.map button {
  border-radius: 50px;
  z-index: 1;
}

.labels {
  display: none;
}
